<h1 class="user-show-h1">Your Profile</h1>

<h2 class="user-show-h2">Hello, <%= current_user.username %></h2>

<h3 class="user-show-h3">Subs You Moderate</h3>
  <% current_user.subs.each do |sub| %>
  <p class="user-show-p"> <%= link_to sub.title, sub_url(sub) %> </p>
  <% end %>

