/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  font-family: 'Passion One', cursive;
}

.index-h1 {
  text-align: center;
  font-size: 65px;
  font-family: 'Passion One', cursive;
}

#nav_mobile li {
  float: right;
}

.nav-h3 {
  position: relative;
  top: 500px;
  color: black;
  font-size: 20px;
}

.user-show-h1 {
  text-align: center;
}

.user-show-h2 {
  text-align: center;
  font-size: 25px;
  font-style: oblique;
}

.user-show-h3 {
  font-size: 35px;
}

.session-form, .users-form, .subs-form {
  width: 50%;
}

.subs-index-p {
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: inline;
}

.sub-links {
  text-align: center;
  color: black;
}

.posts-new.checkbox {
  display: block;
}

.new-post-form {
  width: 50%;
}

